# UI Configurations
TITLE = 'Azure Voting App'
VOTE1VALUE = 'Cats'
VOTE2VALUE = 'Dogs'
SHOWHOST = 'false'
APP_INSIGHTS_INSTRUMENTATION_KEY = 'InstrumentationKey=47317fb8-ced7-4203-a5d2-b1cb0cd9ab29'
# this is key of app insight
